<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>{{ test_obj.text }}</h1>
    <h1>Max mark: {{ test_obj.mark }}</h1>
</head>
<body>
    {% for i in question_list %}
        {% with question_id=i.id %}
            <h1>{{ i.text }}</h1>
            {% if i.answer_type == "choice" %}
                <div class="answers">
                    {% for a in i.answers.all %}
                        <input type="radio" id="{{ a.id }}" name="answer">
                        <label for="{{ a.id }}">{{ a.text }}</label>
                    {% endfor %}
                </div>
            {% elif i.answer_type == "multichoice" %}
                <div class="answers">
                    {% for a in i.answers.all %}
                        <input type="checkbox" id="{{ a.id }}">
                        <label for="{{ a.id }}">{{ a.text }}</label>
                    {% endfor %}
                </div>
            {% else %}
                <div class="answers">
                    <input type="text">
                </div>
            {% endif %}
        {% endwith %}
    {% endfor %}
</body>
</html>